.container{
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    h3{
        text-align: center;
    }
    input{
        height: 50px;
    }

   .results{
       overflow-y: scroll;
       border: 1px solid gray;
       border-top: none;
       max-height: 60%;

       .book{
            padding: 5px;

            h5{
                margin: 0;
            }

            p{
                margin: 0;
                font-size: smaller;
            }
            span{
                color: gray;
                font-size: smaller;
            }
           
       }
       .book:hover{
            background-color: #eee;
            cursor: pointer;
       }
   }
}
.credits{
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

